*::selection {
    background-color: #6846ff;
    color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    display: none;
}

.playList {
    position: absolute;
    z-index: 5;
    height: 350px;
    width: 500px;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -20%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playList>p {
    margin-bottom: 20px;
    color: #fff;
    font-family: 'JetBrains Mono', sans-serif;
}

.blur {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    width: 100%;
    z-index: 4;
    backdrop-filter: blur(100px);
}

.background {
    background-color: #222;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.firstCircle,
.secondCircle,
.thirdCircle {
    position: absolute;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.firstCircle {
    top: 0;
    left: 0;
    height: 600px;
    width: 600px;
    background-color: #6846ff;
    animation: lateralMove 20s infinite;
    animation-delay: 2s;
    z-index: 1;
}

.secondCircle {
    left: 10%;
    bottom: -10%;
    background-color: #a84ef1;
    animation: moveRight 10s infinite;
    animation-delay: 5s;
    height: 400px;
    width: 400px;
    z-index: 3;
}

.thirdCircle {
    right: 5%;
    bottom: 0;
    width: 500px;
    height: 500px;
    background-color: #2796ff;
    animation: lateralMoveRight 10s infinite;
    animation-delay: 2s;
    z-index: 2;
}

.brightness {
    height: 250px;
    width: 250px;
    background-color: #ffffff7c;
    position: absolute;
    border-radius: 50%;
}

/* Nome e Frase */

.homePageContent {
    position: absolute;
    z-index: 4;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Estilos para animação do Nome e da Frase */

.name,
.phrase,
.moveDown,
.playList {
    opacity: 0;
    transition: opacity 5s ease-in-out;
}

.visibleNamePhrase {
    opacity: 1;
}

.moveDown {
    position: absolute;
    z-index: 4;
    bottom: 5%;
    left: 50%;
}

.moveDown>img {
    color: fff;
}


.name {
    font-family: 'JetBrains Mono', sans-serif;
    color: #fff;
    font-size: 80px;
}

.phrase {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    font-size: 20px;
    flex-wrap: wrap;
    width: 790px;
    text-align: center;
}

.projects {
    position: relative;
    z-index: 4;
    background-color: #eee;
    display: flex;
    justify-content: center;
}

#titleMyProjects {
    margin-top: 50px;
}

.myProjects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 20px; 
    padding: 20px;
    align-items: stretch;
    justify-content: center;
}

.firstProject,
.secondProject,
.thirdProject,
.fourthProject {
    width: 100%; 
    height: 100%;
    height: auto; 
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    transition: all .5s linear;
    text-decoration: none;
    color: #fff;
    font-family: 'JetBrains Mono', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.firstProject:hover,
.secondProject:hover,
.thirdProject:hover,
.fourthProject:hover {
    transform: scale(105%);
    box-shadow: 0 1px 30px #6846ff;
}

.firstProject > img,
.secondProject > img,
.thirdProject > img,
.fourthProject > img {
    width: 100%; 
    height: auto;
    object-fit: cover;
}

.description {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.hidden>h2 {
    font-family: 'JetBrains Mono';
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

.hidden {
    opacity: 0;
    transition: all 1s linear;
    transform: translateX(-10%);
}

/* Classe para tornar o elemento visível */
.show {
    opacity: 1;
    transition: opacity 2s linear, transform 1.5s linear;
    transform: translateX(0);
}

.description {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalComp,
.modalCrud,
.modalSing {
    background-color: #222;
    width: 500px;
    height: 500px;
    border-radius: 20px;
    position: absolute;
    z-index: 7;
    padding: 20px;
    text-align: justify;
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0 1px 30px #6846ff42;
}

.modalComp>p,
.modalCrud>p,
.modalSing>p {
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.modalComp>a,
.modalCrud>a,
.modalSing>a {
    display: block;
    width: 200px;
    height: 50px;
}

.modalComp>a>button,
.modalCrud>a>button,
.modalSing>a>button {
    background-color: #222;
    border: 2px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
    width: 200px;
    height: 50px;
    color: #fff;
    font-weight: bold;
    font-family: 'JetBrains Mono', sans-serif;
    transition: all .5s linear;
}

.modalComp>a>button:hover,
.modalCrud>a>button:hover,
.modalSing>a>button:hover {
    background-color: #fff;
    color: #222;
    border: 2px solid #6846ff;
    box-shadow: 0 1px 20px #6846ff;
}

.titleModal {
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
}

.modalBlurSing,
.modalBlurCrud,
.modalBlurComp {
    background-color: #00000094;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: -1;
    opacity: 0;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    bottom: 0;
    transition: opacity .5s linear;
}

.showModal {
    z-index: 6;
    opacity: 1;
    display: flex;
}

.bi.bi-x {
    color: #fff;
    position: absolute;
    right: 3%;
    top: 3%;
    font-size: 24px;
    cursor: pointer;
}

.projects>section{
    height: 100vh;
}

.skills{
    background-color: #222;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contentsLanguages{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.languages>div>img {
    width: 50px;
}

.languages{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.backgroundLanguage{
    background-color: #444;
    padding: 20px;
    border-radius: 5px;
    transition: all .5s linear;
    cursor: pointer;
}
.backgroundLanguage:hover{
    transform: scale(110%);
    box-shadow: 0 1px 30px #a84ef1;
}

@keyframes lateralMoveRight {
    0% {
        right: 5%;
    }

    50% {
        right: 25%;
        width: 550px;
        height: 550px;
    }

    100% {
        right: 5%;
    }
}

@keyframes moveRight {
    0% {
        left: 10%;
        bottom: -10%;
    }

    50% {
        left: 50%;
    }

    100% {
        left: 10%;
        bottom: -10%;
    }
}

@keyframes lateralMove {
    0% {
        left: 0;
    }

    50% {
        left: 50%;
    }

    100% {
        left: 0;
    }
}